img *{
max-width: 100%;

height: auto;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.sony-bar {
    height: 36px;
    background-color: black;
    text-align: right;
    padding-right: 16px;
    position: sticky;
}

.sony-logo {
    width: 100px;
}

.section {
    display: flex;
    align-items: flex-end;
}

.bg-image{
    background-image: url(/img/returnal-listing-thumb-01-ps5.jpg);
    background-size: cover;
    background-position: 80% center;

    background-repeat: no-repeat;

    min-height: 80vh;
}

.bg-image-ittakestwo{
    background-image: url(/img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: 80% center;

    background-repeat: no-repeat;

    min-height: 80vh;
}

.returnal-logo {
    width: 70%;
}

.img-thumbnail {
    border: none;
}

.center-content {
    align-content: center;
}

.play-image {
    max-width: 100%;
}

.img-element {
    max-width: 100%;
    height: auto;
}


.reset-border {
    border-radius: var(--bs-border-radius);
    max-width: 100%;
    height: auto;
}


.bg-plus {
    background-color: rgb(206, 200, 190);
}

.btn-plus {
    background-color: aliceblue;
    color: blue;
}