h1, p {
    font-family: Arial, Helvetica, sans-serif;
}

.sony-bar {
    height: 36px;
    background-color: black;
    text-align: right;
    padding-right: 16px;
    position: sticky;
}

.sony-logo {
    width: 100px;
}

.section {
    display: flex;
    align-items: flex-end;
}

.bg-image{
    background-image: url(/img/returnal-listing-thumb-01-ps5.jpg);
    background-size: cover;
    background-position: 80% center;

    background-repeat: no-repeat;

    min-height: 80vh;
}

.returnal-logo {
    width: 70%;
}

.img-thumbnail {
    border: none;
}